<%= text_field_tag :search, params[:search], placeholder: "What do you want to listen to?", id: "spotifysearch" %>
<%= link_to 'search', '#', id: "search-button", remote: true %> 

<div id="search-results">

</div>	


<script>
$('#search-button').click(function() {
	var search_val = $('#spotifysearch').val().trim();
		$.ajax({
			type: 'post',
			data: '&search=' + search_val,
			dataType: 'script',
			url: '/pages/spotify_search/' });
	});
</script>